body {
  background-color:rgb(46, 46, 46);
  color: white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ffffff;
  
}
a i {
  color: white;
  margin-right: 0.4rem;
}
.error404{
  text-align: center;
}
.error404 h1{
  width: 100%;
  color: white;
  font-size: 30rem;
  font-weight: bold;
  text-shadow: 0px 10px 10px rgba(119, 119, 119, 0.66);
}
